_*
bin
obj
csx
*.suo
*.user
*.cache
*.dbmdl
*.cscfg
*.csdef
*.azurePubxml
debug
release
.svn
BuildResults.xml
*.results.xml
test-results.html
.tfs-ignore
*.orig
.hg
*.nupkg
PrecompiledWeb/*
TraceOutput.log
*.sdf
*.zip
*.dgml
RequestReduce/Nuget/Content/App_Readme/RequestReduce.readme.txt
RequestReduce/Nuget/pngoptimization
*.userprefs
*.pidb
*.vsp
*.psess
*.log
vstest
App_Readme
Publish